<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Sandboxing is off because Brewery shells out to /opt/homebrew/bin/brew.
         If it is ever turned back on, com.apple.security.network.client must be
         added here or the launch analytics in BreweryTelemetry will stop sending. -->
    <key>com.apple.security.app-sandbox</key>
    <false/>
</dict>
</plist>
